version: '3.8'

services:
  db:
    image: postgres:15
    container_name: helpdesk_postgres_db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=helpdesk_db
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password123
    ports:
      - "5432:5432"

volumes:
  postgres_data: